<?xml version='1.0' encoding='utf-8'?>
<widget id="org.ethoinformatics.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EthoinfoApp</name>
    <description>
    </description>
    <author email="sebastian@linebreakdesign.com">
        sebastian@linebreakdesign.com
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="data:*" />
    <access origin="data:*" />
    <preference name="webviewbounce" value="true" />
    <preference name="DisallowOverscroll" value="false" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~5.2.2" />
    <engine name="ios" spec="^4.2.1" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
