.timeRangesHeader
  display block
  margin-top 0.5em
  font-size 12px
.timeRangesHeaderStart, .timeRangesHeaderEnd, .timeRangesHeaderCount
  text-transform uppercase
  font-spacing 0.6px
  font-weight 700
  display inline-block
  width 33.3333333333%
  text-align left
  box-sizing border-box
  padding 0.25em 0em

.timeRangeStart, .timeRangeEnd, .timeRangeCount
  font-size 12px
  box-sizing border-box
  display inline-block
  width 33.3333333333%
  text-align left
  padding 0.25em 0em

.boolValue
  position relative
  line-height 44px
  display inline-block
  margin-left 0.5em
  font-weight 900
  text-transform uppercase
  font-size 14px
  letter-spacing 0.6px
  color #000
