.tabs
  height 54px
  background #999
  .tab
    outline none
    box-sizing border-box
    cursor pointer
    position relative
    font-weight 500
    top 10px
    height 44px
    line-height 44px
    text-align center
    display inline-block
    background #f9f9f9
    opacity 0.75
    border none
    border-top 1px solid #ddd
    border-right 1px solid #ddd
    border-bottom 1px solid #ddd
    &.active
      opacity 1.0
      border-bottom 0px