.tabs
  height 44px
  background #eee
  .tab
    outline none
    box-sizing border-box
    cursor pointer
    position relative
    font-weight 700
    top 0px
    height 44px
    line-height 44px
    color #888
    text-align center
    display inline-block
    background #f9f9f9
    border none
    border-top 1px solid #ddd
    // border-right 1px solid #ddd
    border-bottom 1px solid #ddd
    &.active
      color #000
      opacity 1.0
      border-bottom 2px solid #000