.codeList
  .page__content
    // Override global padding defined in app.styl
    padding 0
  .list-container
    //height calc(100% - 88px)
    position relative
    top 0
    left 0
    width 100%

    .list__item__right
      padding 0 12px 0 0
