.codeList
  .page__content
    // Override global padding defined in app.styl
    padding 0
  .list-container
    //height calc(100% - 88px)
    position relative
    top 0
    left 0
    width 100%

    .list__item__right
      padding 0 12px 0 0
  
  .delete
    width 32px
    height 32px
    line-height 32px
    margin 0
    padding 0
    position: absolute
    right 6px
    top 6px
    font-size 22px
    outline none
    border none
    background transparent
    text-align center
    color red
    cursor pointer
