@require '../shared/config'

.page__content
  padding etho-padding // Add default padding to every page

/* */

button, input, select
  font-size 16px

// Remove default styles on mobile
input[type=text] {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;   
}

// Fix alignment of fab icons.
.fab
  .ons-icon
    line-height 56px !important

// Toolbar button styles.
.toolbar-button
  width 44px
  height 44px
  line-height 44px
  position relative
  display inline-block
  padding 0
  box-sizing border-box
  text-align center
  font-size 24px

.switch--etho
  input:checked + .switch__toggle
    box-shadow inset 0 0 0 2px #4CD964
    background-color #4CD964

ol
  padding 0
  margin 0