.geoViewer
  .page__content
    // Override global padding defined in app.styl
    padding 0
  
  .status
    position absolute
    z-index 999
    top 0px
    font-size 12px
    line-height 20px
    text-align center
    left 0
    width 100%
    height 20px
    background transparentify(white, 0.5)

  .bottom-bar
    color #000
  
  .switchContainer
    padding 0 0.5em
    line-height 100%
    height 100%
    .switch
      top 6px


  .mapContainer
    width 100%
    height calc(100% - 44px)