.geolocationField

  label
    margin-bottom 0.5em

  .fab
    display inline-block
    cursor pointer
    margin-right 0.5em

  .geolocating, .nullGeo
    display inline-block
    height 60px
    line-height 60px

  .latLong
    line-height 60px
    display inline-block

    .lat, .long
      display inline-block
