.navbar
  border-bottom 1px solid #ddd
  box-sizing border-box
  .toolbar__left, .toolbar__right
    width 44px
    position relative
  .toolbar__center
    position relative
    width calc(100% - 88px)
    overflow hidden
    overflow-x: scroll;
    height: 72px; // Add some extra height so the scrollbar is hidden
  &.withChildren
    background transparent

    // left 44px
    // width calc(100% - 88px)