.modelList
  .page__content
    // Override global padding defined in app.styl
    padding 0

  .list__item
    cursor pointer
  
  .ons-icon
    font-size 24px
  
  .name
    position relative
    display inline-block
    left 24px
  
  .displayColor
    position absolute
    top 0
    left 12px
    display inline-block
    height 100%
    width 10px