.mapper
  position absolute
  top 0
  left 0
  width 100%
  height 100%

.mapStatus
  position absolute
  top 0
  left 0
  width 100%
  font-size 11px
  z-index 9999
  background rgba(255, 255, 255, 0.75)
  text-align center
  padding 0.5em
  