.breadcrumbs
  position absolute
  top 0
  left 0
  display block
  text-align left
  height 44px
  min-height 44px
  line-height 44px
  // overflow-x scroll
  // margin-bottom 1em
  // clear both
  // background-size: 100% 1px;
  // background-repeat: no-repeat;
  // background-position: bottom;
  // background-image: linear-gradient(0deg, #ccc, #ccc 100%);

.breadcrumbComponent
  display inline-block
  position relative
  text-align center
  // display inline-block
  height 44px
  padding-left 0.5em
  padding-right 0.5em
  background #eee
  // float left
  min-width 44px
  margin-top 0px
  border 1px solid #bbb
  margin -1px 0 0 -1px
  color #888
  &:first-child
    margin-left 0px
  &:last-child
    color #000

.breadcrumbPath
  background none
  border none
  outline none
  height 44px
  line-height 44px
  vertical-align top
  display inline-block
  margin 0
  padding 0
  // float left
  font-weight 700
  font-size 12px
  text-align center
  // text-transform uppercase
  // letter-spacing 0.5px
  min-width 44px
  color inherit
  cursor pointer

/* .breadcrumbComponent::after
  content " "
  display block
  width 0
  height 0
  border-top 22px solid transparent
  border-bottom 22px solid transparent
  border-left 16px solid #eee
  position absolute
  top 50%
  margin-top -22px
  left 100%
  z-index 2
*/

.breadcrumbsSpacer
  clear both

/* .breadcrumbComponent:nth-child(even)
  background #ddd

.breadcrumbComponent:nth-child(even)::after
  content " "
  display block
  width 0
  height 0
  border-top 22px solid transparent
  border-bottom 22px solid transparent
  border-left 16px solid #ddd
  position absolute
  top 50%
  margin-top -22px
  left 100%
  z-index 2
*/

.breadcrumbComponent
    &::after
      border-left 16px solid #000

/* .breadcrumbComponent:nth-last-child(2)
  background-color #eee
  .breadcrumbPath
    color #000
    font-weight 200
    cursor auto

.breadcrumbComponent:nth-last-child(2)::after
  border-left 16px solid #eee */



