.breadcrumbs
  background #fff
  padding-bottom 4px
  position relative
  display block
  min-height 44px
  line-height 44px
  // margin-bottom 1em
  clear both
  // background-size: 100% 1px;
  // background-repeat: no-repeat;
  // background-position: bottom;
  // background-image: linear-gradient(0deg, #ccc, #ccc 100%);

.breadcrumbComponent
  position relative
  // display inline-block
  height 44px
  padding-left 0.5em
  padding-right 0.5em
  background #bbb
  float left
  padding-left 22px
  margin-top 4px

.breadcrumbSlash
  display inline-block
  height 44px
  font-size 1.5em
  margin 0
  vertical-align top
  background red
  display: none

.breadcrumbPath
  background none
  border none
  outline none
  height 44px
  line-height 44px
  vertical-align top
  display block
  margin 0
  margin-left -0.5em
  padding 0
  float left
  font-weight 700
  cursor pointer

.breadcrumbComponent::after
  content " "
  display block
  width 0
  height 0
  border-top 22px solid transparent /* Go big on the size, and let overflow hide */
  border-bottom 22px solid transparent
  border-left 16px solid #bbb
  position absolute
  top 50%
  margin-top -22px
  left 100%
  z-index 2

.breadcrumbsSpacer
  clear both

.breadcrumbComponent:nth-child(1)
  display none

.breadcrumbComponent:nth-child(even)
  background #ccc

.breadcrumbComponent:nth-child(even)::after
  content " "
  display block
  width 0
  height 0
  border-top 22px solid transparent /* Go big on the size, and let overflow hide */
  border-bottom 22px solid transparent
  border-left 16px solid #ccc
  position absolute
  top 50%
  margin-top -22px
  left 100%
  z-index 2

.breadcrumbComponent
  &:hover
    background-color #000
    .breadcrumbPath
      color #fff
    &::after
      border-left 16px solid #000

.breadcrumbComponent:nth-last-child(2)
  background-color #ddd
  .breadcrumbPath
    color #000
    font-weight 200
    cursor auto

.breadcrumbComponent:nth-last-child(2)::after
  border-left 16px solid #ddd
