.documentForm
  list-style none
  padding 0
  margin 0 0 2em 0

  .field
    display block
    margin 0 0 1em 0
    padding 0
    .SingleDatePicker
      margin-top 0.5em
    input
      background transparent
      height 44px
      line-height 44px
      border none
      width 100%
      box-sizing border-box
      border-bottom 1px solid #bbb
      border-radius 0px
    label
      display block
      font-weight 700
        
  .button
    margin-bottom 1em
    cursor pointer