.editDocument
  .page__content
    // Override global padding defined in app.styl
    padding 0
  
  .form, .actions
    padding 1em
  
  /* .mapContainer
    width 100%
    height calc(100% - 54px)*/
