.settingsItemLabel, .logLabel
  display block
  font-weight 700
  text-transform uppercase
  font-size 12px
  letter-spacing 0.6px
  color #888

.logLabel
  margin-top 1em
  margin-bottom 0.5em

.logList
  font-size 12px

.settingsItemInput
  position relative
  display inline-block

.settingsItemValue
  position relative
  line-height 44px
  display inline-block
  margin-left 0.5em
  font-weight 900
  text-transform uppercase
  font-size 14px
  letter-spacing 0.6px
  color #000