.fields
  list-style none
  padding 0
  margin 0 0 2em 0

.field
  display block
  margin 0 0 0.25em 0
  padding 1em 1em 0em 1em

input
  margin-top 0.5em
  background transparent
  height 44px
  line-height 44px
  border none
  width 100%
  box-sizing border-box
  border 1px solid #ccc
  border-radius 0px

label
  display block
  font-weight 700
  text-transform uppercase
  font-size 12px
  letter-spacing 0.6px
  color #888

select
  cursor pointer
  // padding 0.5em
  padding 0em 1em 0em 0.5em
  border 1px solid #ccc
  border-radius 0px
  margin-top 0.5em
  width 100%
  height 44px
  line-height 100%

  option
    line-height 44px

  background:
  linear-gradient(45deg, transparent 50%, #888 50%),
  linear-gradient(135deg, #888 50%, transparent 50%),
  linear-gradient(to right, #eee, #eee);
  background-position:
    calc(100% - 21px) calc(22px),
    calc(100% - 16px) calc(22px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    44px 44px;
  background-repeat: no-repeat;

  border-radius: 0;
  box-sizing border-box
  appearance none
  -webkit-appearance: none
  -moz-appearance: none